.navbar-brand {
    padding: 0px;
}

.mtri-title-bg {
    position: absolute;
    left: 50%;
    /* vi tri goc toa do phan tu nay tai vi tri 50% phan tu cha la co position la relative */
    transform: translateX(-50%);
    /* vi tri goc toa do phan tu nay giam di 50% theo chieu dai phan tu nay */
    background-color: rgba(49, 49, 49, 0.7);
    width: 88%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.head-col-category {
    background-color: rgba(0, 39, 112, 0.806);
    color: aliceblue;
    font-weight: bold;
    padding: 5px;

}

.player-img-thumbnail {
    width: 48px;
    height: 100%;
}

td {
    vertical-align: middle;
}

.market-valuable {
    position: absolute;
    top: 0;
    right: 0;
    font-size: large;
    font-weight: bold;
    background-color: rgba(0, 238, 255, 0.289);
    padding: 12px;
    max-width: 300px;
    border-bottom-left-radius: 10px;
}

.player-title {
    min-width: 56px;
}

.player-info {
    * {
        font-size: small;
    }
}

.team-box {
    display: flex;
    align-items: start;
    height: 100%;

    img {
        max-height: 80px;
        width: 100%;
    }

    * {
        font-size: small;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

#message-error {
    color: red;
}

.news-card {
    max-height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Ngăn nội dung tràn ra ngoài */
}

.news-card h5 {
    display: -webkit-box;
    line-clamp: 2; /* Giới hạn tối đa 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: auto; /* Đẩy phần tiếp theo xuống */
    line-height: 1.4; /* Tăng khoảng cách dòng */
    max-height: calc(1.4em * 2); /* Đảm bảo đúng chiều cao 2 dòng */
}

.news-card a {
    flex-shrink: 0; /* Ngăn "Continue reading" bị co lại */
    margin-top: auto; /* Đẩy xuống dưới cùng */
}

.continue-reading {
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(45deg, #0091ff, #000000);
    background-clip: text; /*fill text color*/
    -webkit-text-fill-color: transparent; /*apply gradient color*/
}

.page-title {
    background: linear-gradient(45deg, #000000, #0091ff);
}

.market-value-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: end;
    gap: 5px;
}

/* .responsive-img {
    width: auto;
    max-width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    .responsive-img {
        width: 100%;
    }
} */