<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title sec:authorize="!isAuthenticated()">Đang xác nhận...</title>
</head>

<body>
    <div sec:authorize="!isAuthenticated()">
        <form id="ottForm" th:action="${sprOttLoginApi}" method="post">
            <input type="hidden" name="token" th:value="${token}" />
        </form>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const form = document.getElementById("ottForm");
                if (form) form.submit(); // auto submit
            });
        </script>
    </div>
</body>

</html>